# Ignorar archivos temporales de macOS
.DS_Store
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Local binaries and outputs
roomba
gen
*.pgm
*.csv

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# LaTeX temporary files
*.aux
*.log
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf

# Competition results and logs
# Competition artifacts
competition/logs/*
!competition/logs/.gitkeep

competition/results*
!competition/results/.gitkeep
competition/ranking.txt
competition/stats.csv
competition/reports/
competition/entregas*
competition/validation_report.txt

# Binaries
competition/runner
competition/score
competition/myscore
competition/validate

# Ignore all teams execept reference
competition/teams*
!competition/teams/.gitkeep
!competition/teams/reference/

# Generated Maps (keep source code)
maps/*.pgm
tools/generate
tools/myscore
tools/validate
tools/viewmap
tools/visualize
